

data/*
checkpoints/*
weights/*
output/*

*.png
*.jpg
*.avi
*.pyc


*.pth
*.zip
*.wav
*.ipynb
*.mp4
*.avi

*.exe
*.obj
*.out
*.in 
*.o 
*.bin

**/bin/*
**/build/*
**/ipch/*
**/.vscode/*
**/__pycache__/*
**/.ipynb_checkpoints/*






